<p id="notice"><%= notice %></p>
<div class="grid-x">
    <% @branches.each do |branch| %>
      <div class="cell small-12 medium-6"><%= branch.name %></div>
      <div class="cell small-12 medium-2"><%= link_to 'Показать', branch %></div>
      <div class="cell small-12 medium-2"><%= link_to 'Изменить', edit_branch_path(branch) %></div>
      <% if current_user.admin? %>
        <div class="cell small-12 medium-2"><%= link_to 'Удалить', branch, method: :delete, data: { confirm: 'Вы уверены?' } %></div>
      <% end %>
    <% end %>
</div>
