  <div class="grid-x grid-margin-x callout" data-abide novalidate>
    <div class="cell small-12 medium-5">
      <%= inline_svg "logo.svg", class: 'bsd-logo' %>
      <div class="show-for-medium">
        <p>Воспользуйтесь преимуществами зарегистрированных пользователей, станьте участником программы лояльности клиентов и получайте вознаграждения на бонусный счет.</p>
        <p>Познакомиться с условиями программы лояльности клиентов можно в разделе по <a href="<%= loyalty_path %>">ссылке</a>.</p>
      </div>
    </div>
    <div class="cell small-12 medium-7">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <div class="grid-x grid-margin-x">
          <div class="cell small-12 medium-4 floated-label-wrapper">
            <%= f.input :family, label: 'Фамилия', required: true, placeholder: "Фамилия", error: 'Вы не указали фамилию' %>
          </div>
          <div class="cell small-12 medium-4 floated-label-wrapper">
            <%= f.input :name, label: 'Имя', required: true, error: 'Обязательно для заполнения', placeholder: "Имя", error: 'Вы забыли представиться' %>
          </div>
          <div class="cell small-12 medium-4 floated-label-wrapper">
            <%= f.input :otch, placeholder: "Отчество", label: 'Отчество' %>
          </div>
          <div class="cell small-12 medium-8 floated-label-wrapper">
            <%= f.input :address, label: 'Адрес', placeholder: "Адрес", error: 'Обязательно для заполнения', required: true, error: '' %>
            <%= f.input :region_kladr_id, :as => :hidden, required: true, error: '' %>
          </div>
          <div class="cell small-12 medium-4 floated-label-wrapper">
            <%= f.input :born, as: :string, placeholder: "Дата рождения", error: 'Обязательно для заполнения', required: true, label: "Дата рождения" %>
          </div>
          <div class="cell small-12 medium-6 floated-label-wrapper">
            <%= f.input :phone, label: 'Телефон', placeholder: "Телефон", error: 'Обязательно для заполнения', required: true, error: 'Вы забыли ввести номер телефона', input_html: { maxlength: 12 }  %>
          </div>
          <div class="cell small-12 medium-6 floated-label-wrapper">
            <%= f.input :email, required: true, autofocus: true, placeholder: "E-mail", error: 'Обязательно для заполнения', label: 'E-mail' %>
          </div>
          <div class="cell small-12 medium-6 floated-label-wrapper">
            <%= f.input :password, required: true, label:"Пароль", placeholder: "Пароль", hint: (t('devise.shared.minimum_password_length', count: @minimum_password_length) if @minimum_password_length) %>
          </div>
          <div class="cell small-12 medium-6 floated-label-wrapper">
            <%= f.input :password_confirmation, required: true, placeholder: "Подтвердите пароль", error: 'Обязательно для заполнения', label: "Подтвердите пароль", error: 'Подтвердите свой пароль' %>
          </div>
          <div class="cell small-12">
              <%= f.input :privacy, as: :boolean, boolean_style: :inline, required: true, error: 'Обязательно для заполнения', label: 'Даю согласие на обработку персональных данных', error: 'Подтвердите свое согласие на регистрацию' %>
              <a href="<%= privacy_path %>">Подробнее о персональных данных</a>
          </div>
          <div class="cell small-12">
            <%= f.button :submit, "Зарегистрироваться" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<link href="https://cdn.jsdelivr.net/npm/suggestions-jquery@18.10.1/dist/css/suggestions.min.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/suggestions-jquery@18.10.1/dist/js/jquery.suggestions.min.js"></script>
<%= render file: 'layouts/datepicker' %>

<script>
  $("#user_born").mask("00/00/0000", {placeholder: "00/00/0000"}, {clearIfNotMatch: true});
  $("#user_phone").mask("8(000)000-00-00", {clearIfNotMatch: true});
  
  $.datetimepicker.setLocale('ru');
  $('#user_born').datetimepicker({lang: 'ru', timepicker: false, format: 'd/m/Y', formatDate: 'Y/m/d', startDate: '<%= Date.today - 17.years %>', maxDate: '<%= Date.today - 17.years %>'});
  $("#user_address").suggestions({token: "f2bbb5624fd5b6295a9207033ca2449935340869", type: "ADDRESS", count: 5, onSelect: function (suggestion) {
      $("#user_region_kladr_id").val(suggestion["data"]["region_kladr_id"]);
    }});
</script>
