<p id="notice"><%= notice %></p>

<h1>Branchdirectors</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @branchdirectors.each do |branchdirector| %>
      <tr>
        <td><%= link_to 'Show', branchdirector %></td>
        <td><%= link_to 'Edit', edit_branchdirector_path(branchdirector) %></td>
        <td><%= link_to 'Destroy', branchdirector, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Branchdirector', new_branchdirector_path %>
