<a href="<%= new_banner_path %>" class="button">Добавить баннер</a>
<div class="grid-x">
  <div class="cell small-12 medium-3">Изображение</div>
  <div class="cell small-12 medium-3">Текст</div>
  <div class="cell small-12 medium-3">Ссылка</div>
  <div class="cell small-12 medium-3"></div>
    <% @banners.each do |banner| %>
      <div class="cell small-12 medium-3"><div class="preview-box"><%= image_tag(banner.picture_url) if banner.picture? %></div></div>
      <div class="cell small-12 medium-3"><%= banner.description %></div>
      <div class="cell small-12 medium-3"><%= banner.uri %></div>
      <div class="cell small-12 medium-3">
        <%= link_to 'Изменить', edit_banner_path(banner) %>
        <%= link_to 'Удалить', banner, method: :delete, data: { confirm: 'Are you sure?' } %></div>
    <% end %>
</div>
