<p id="notice"><%= notice %></p>

<h1>Userroles</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @userroles.each do |userrole| %>
      <tr>
        <td><%= link_to 'Show', userrole %></td>
        <td><%= link_to 'Edit', edit_userrole_path(userrole) %></td>
        <td><%= link_to 'Destroy', userrole, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Userrole', new_userrole_path %>
