<ul class="tabs" data-active-collapse="true" data-tabs id="admin-tabs">
  <li class="tabs-title is-active"><a href="#panel1c" aria-selected="true">Филиалы</a></li>
  <li class="tabs-title"><a href="#panel2c">Баннеры</a></li>
  <li class="tabs-title"><a href="#panel3c">Статистика сайта</a></li>
</ul>

<div class="tabs-content" data-tabs-content="admin-tabs">
  <div class="tabs-panel is-active" id="panel1c">
    <p><a href="<%= new_branch_path %>" class="button">Добавить филиал</a></p>
    <%= render file: 'branches/index' %>
  </div>
  <div class="tabs-panel" id="panel2c">
    <%== render file: 'banners/index' %>
  </div>
  <div class="tabs-panel" id="panel3c">
    Оформлено заявок: <%=  Order.where('created_at > now() - INTERVAL 1 DAY').count %><br>
    Заявки не принятые в работу: <%=  Order.where('status_id = 1').count %><br>
    Посетителей в день: <br>
    Зарегистрировалось на сайте:
  </div>
</div>
