<p id="notice"><%= notice %></p>
<div class="grid-x grid-margin-x callout">
  <div class="cell small-12 medium-6">
  <h5>Введите код заявки:</h5>
  <%= search_form_for @search do |f| %>
  <%= f.text_field :code_eq, required: true, placeholder: "Код заявки" %>
  <%= f.submit "Найти", class: "button" %>
<% end %>

<% if @orders.empty? %>
  Заявка с таким номером не существует, пожалуйста, проверьте введенные данные<br>
<% else %>
  <% @orders.each do |order| %>
    Отправка из:
    <%= order.from_city %><br>
    Прибытие в:
    <%= order.to_city %><br></%>
  Статус заявки:
  <b><%= order.status.name %></b><br>
  <% end %>
<% end %>
<%= link_to 'Подать заявку на доставку груза', new_order_path %>
</div>
</div>
<script>
    $('#q_code_eq').mask("SS-000-SS-000000", {placeholder: "АB-123-CE-123456"});
</script>
