<div data-closable class="notice callout alert-callout-subtle primary small success">
  <%= notice %>
  <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
    <span aria-hidden="true">⊗</span>
  </button>
</div>

<h1>Storages</h1>

<table>
  <thead>
    <tr>
      <th>Branch</th>
      <th>Address</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @storages.each do |storage| %>
      <tr>
        <td><%= storage.branch_id %></td>
        <td><%= storage.address %></td>
        <td><%= storage.latitude %></td>
        <td><%= storage.longitude %></td>
        <td><%= link_to 'Show', storage %></td>
        <td><%= link_to 'Edit', edit_storage_path(storage) %></td>
        <td><%= link_to 'Destroy', storage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Storage', new_storage_path %>
