<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Здравствуйте, <%= "#{@orderuser.name} #{@orderuser.otch}" %>
    <p>
      Вы оформили заявку на перевозку груза <%= "из #{@order.from_city} в #{@order.to_city}" %>
    </p>
    <p>Узнать статус заяки можно в личном кабинете на сайте ТК "БСД",<br>
      воспользуйтесь поиском по коду заявки <b><%= @order.code %></b><br>
      Или пройдите по ссылке <a href="http://localhost:3000/orders?q[code_eq]=<%= @order.code %>">http://localhost:3000/orders?q[code_eq]=<%= @order.code %></a>
    </p>
    <p>Не забудьте оформить доверенноть на получение груза,<br>пройдите по ссылке, чтобы скачать бланк <a href="http://tk-bsd.com/document/doverennost.docx">Доверенность</a></p>
  <% if @new_user_password.length != 0 %>
    <p>Мы создали для Вас учетную запись на нашем сайте<br>
      Для входа в личный кабинет, воспользуйтесь паролем <b><%= @new_user_password %></b>, логин <b><%= "#{@orderuser.email}" %></b>
    </p>
    <p>Наши дальнейшие действия:
      <ul>
        <li>В ближайшее время наш менеджер свяжется с отправителем груза и договорится о времени забора груза.</li>
        <li>Грузовладелецу необходимо подготовить доверенность на получение груза и передать ее  отправителю или менеджеру ТК "Балтийская служба доставки".</li>
        <li>После забора груза на терминале ТК "БСД" будут выполнены замер и взвешивание груза, при расхождении фактических и заявленных параметров груза, стоимость доставки может измениться как в большую, так и в меньшую сторону.</li>
        <li>Мы будем информировать Вас обо всех изменениях статуса заяки</li>
      </ul>
    </p>
  <% end %>

<hr>
<p>С уважением,<br>
Ваша Балтийская служба доставки
</p>
  </body>
</html>
