<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title><%= content_for?(:title) ? yield(:title) : "Балтийская служба доставки" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
      <%= render file: 'layouts/notify' %>
      <div class="grid-y full" style="height:95%">
        <div class="cell small-1 slideLeft-fast">
          <div class="grid-x">
            <div class="cell small-12 medium-9">
              <h1 class="main-title"><a href="javascript:history.back()"><% unless current_page?(root_path) %>
                <%= fa_icon "angle-double-left" %>
                <% end %>
                <%= @title %></a></h1>
            </div>
            <div class="medium-3 show-for-medium tf">
              <span>
                <% if user_signed_in? %>
  <span>Здравствуйте, <%= current_user.name %>&nbsp;<%= current_user.otch %> <br>На вашем бонусном счету: <%= amount_coin(current_user.id) %> руб.</span>
  <br>
   <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
<% else %>
Зарегистрируйтесь на нашем сайте и получите 100 рублей на свой бонусный счет<br>
  <%= link_to 'Войти ', new_user_session_path %> или
  <%= link_to ' Зарегистрироваться', new_user_registration_path %>
<% end %>
              </span>
            </div>
          </div>
        </div>
        <div class="cell small-10">
          <%= yield %>
        </div>
        <div class="cell small-1">
          <%= render file: 'layouts/footer' %>
        </div>
      </div>
  </body>
</html>
